In [1]:
import mypathsetup
import config
import pandas as pd

# alcohol_1980_2018

In [2]:
df = pd.read_csv(config.r_health_data / 'alcohol_1980_2018.csv')
df

                      Litres of pure alcohol  Year  Total  Beer  Wine  Spirits
0                      Litres per inhabitant  1980   3.14     .  0.91     2.23
1                      Litres per inhabitant  1981   3.16     .  0.94     2.22
2                      Litres per inhabitant  1982   3.11     .  1.01     2.10
3                      Litres per inhabitant  1983   3.22     .  1.13     2.09
4                      Litres per inhabitant  1984   3.28     .  1.07     2.21
..                                       ...   ...    ...   ...   ...      ...
73  Litres per inhabitant 15 years and older  2014   7.01  3.87  2.02     1.13
74  Litres per inhabitant 15 years and older  2015   7.66  4.26  2.15     1.25
75  Litres per inhabitant 15 years and older  2016   7.50  4.24  2.09     1.16
76  Litres per inhabitant 15 years and older  2017   7.75  4.42  2.14     1.19
77  Litres per inhabitant 15 years and older  2018   7.72  4.39  2.11     1.22

[78 rows x 6 columns]

In [3]:
df['Litres of pure alcohol'].unique()

array(['Litres per inhabitant',
       'Litres per inhabitant 15 years and older'], dtype=object)

In [4]:
# rename litres of pure alc categories
def rename_cat(cat):
    if cat == 'Litres per inhabitant':
        return('total_pop')
    if cat == 'Litres per inhabitant 15 years and older':
        return('15+')

df = df.rename(columns={'Litres of pure alcohol': 'pop_vs_15+'})

df['pop_vs_15+'] = df['pop_vs_15+'].apply(rename_cat)

df

   pop_vs_15+  Year  Total  Beer  Wine  Spirits
0   total_pop  1980   3.14     .  0.91     2.23
1   total_pop  1981   3.16     .  0.94     2.22
2   total_pop  1982   3.11     .  1.01     2.10
3   total_pop  1983   3.22     .  1.13     2.09
4   total_pop  1984   3.28     .  1.07     2.21
..        ...   ...    ...   ...   ...      ...
73        15+  2014   7.01  3.87  2.02     1.13
74        15+  2015   7.66  4.26  2.15     1.25
75        15+  2016   7.50  4.24  2.09     1.16
76        15+  2017   7.75  4.42  2.14     1.19
77        15+  2018   7.72  4.39  2.11     1.22

[78 rows x 6 columns]

In [5]:
df = df.rename(columns={'Total': 'all_alc'})
df

   pop_vs_15+  Year  all_alc  Beer  Wine  Spirits
0   total_pop  1980     3.14     .  0.91     2.23
1   total_pop  1981     3.16     .  0.94     2.22
2   total_pop  1982     3.11     .  1.01     2.10
3   total_pop  1983     3.22     .  1.13     2.09
4   total_pop  1984     3.28     .  1.07     2.21
..        ...   ...      ...   ...   ...      ...
73        15+  2014     7.01  3.87  2.02     1.13
74        15+  2015     7.66  4.26  2.15     1.25
75        15+  2016     7.50  4.24  2.09     1.16
76        15+  2017     7.75  4.42  2.14     1.19
77        15+  2018     7.72  4.39  2.11     1.22

[78 rows x 6 columns]

In [7]:
df = pd.melt(df, id_vars=['pop_vs_15+', 'Year'], var_name='alc_category', value_name='liters_per_inhabitant')
df

    pop_vs_15+  Year alc_category liters_per_inhabitant
0    total_pop  1980      all_alc                  3.14
1    total_pop  1981      all_alc                  3.16
2    total_pop  1982      all_alc                  3.11
3    total_pop  1983      all_alc                  3.22
4    total_pop  1984      all_alc                  3.28
..         ...   ...          ...                   ...
307        15+  2014      Spirits                  1.13
308        15+  2015      Spirits                  1.25
309        15+  2016      Spirits                  1.16
310        15+  2017      Spirits                  1.19
311        15+  2018      Spirits                  1.22

[312 rows x 4 columns]

In [8]:
# to csv
data_path = config.c_health_data / 'alcohol_1980_2018.csv'
df.to_csv(data_path, index=False)

# good_health_2004_2018

In [9]:
df = pd.read_csv(config.r_health_data / 'good_health_2004_2018.csv')
df

,Year,Sex,Income quintiles,Proportion of individuals (%),Proportion lower bounds (%),Proportion upper bounds (%)
0,2004,Total,Total,78.7,77.1,80.2
1,2004,Total,Bottom quintile 1-20%,68.6,64.7,72.4
2,2004,Total,Second quintile 21-40%,74.4,70.6,78.1
3,2004,Total,Third quintile 41-60%,80.3,76.8,83.6
4,2004,Total,Fourth quintile 61-80%,83.1,79.8,86.0
...,...,...,...,...,...,...
265,2018,Males,Bottom quintile 1-20%,71.2,65.4,76.6
266,2018,Males,Second quintile 21-40%,75.5,70.2,80.3
267,2018,Males,Third quintile 41-60%,81.8,77.0,86.0
268,2018,Males,Fourth quintile 61-80%,83.6,79.1,87.6
269,2018,Males,Top quintile 81-100%,88.5,84.8,91.6

In [10]:
# format percents
for col in df.columns:
    if 'Proportion' in col:
        df[col] = df[col].apply(lambda x: round(x / 100, ndigits=3))

df

,Year,Sex,Income quintiles,Proportion of individuals (%),Proportion lower bounds (%),Proportion upper bounds (%)
0,2004,Total,Total,0.787,0.771,0.802
1,2004,Total,Bottom quintile 1-20%,0.686,0.647,0.724
2,2004,Total,Second quintile 21-40%,0.744,0.706,0.781
3,2004,Total,Third quintile 41-60%,0.803,0.768,0.836
4,2004,Total,Fourth quintile 61-80%,0.831,0.798,0.860
...,...,...,...,...,...,...
265,2018,Males,Bottom quintile 1-20%,0.712,0.654,0.766
266,2018,Males,Second quintile 21-40%,0.755,0.702,0.803
267,2018,Males,Third quintile 41-60%,0.818,0.770,0.860
268,2018,Males,Fourth quintile 61-80%,0.836,0.791,0.876
269,2018,Males,Top quintile 81-100%,0.885,0.848,0.916

In [12]:
df = pd.melt(df, id_vars=['Year', 'Sex', 'Income quintiles'], var_name='unit', value_name='percent')
df

,Year,Sex,Income quintiles,unit,percent
0,2004,Total,Total,Proportion of individuals (%),0.787
1,2004,Total,Bottom quintile 1-20%,Proportion of individuals (%),0.686
2,2004,Total,Second quintile 21-40%,Proportion of individuals (%),0.744
3,2004,Total,Third quintile 41-60%,Proportion of individuals (%),0.803
4,2004,Total,Fourth quintile 61-80%,Proportion of individuals (%),0.831
...,...,...,...,...,...
805,2018,Males,Bottom quintile 1-20%,Proportion upper bounds (%),0.766
806,2018,Males,Second quintile 21-40%,Proportion upper bounds (%),0.803
807,2018,Males,Third quintile 41-60%,Proportion upper bounds (%),0.860
808,2018,Males,Fourth quintile 61-80%,Proportion upper bounds (%),0.876
809,2018,Males,Top quintile 81-100%,Proportion upper bounds (%),0.916

In [13]:
df.Year = df.Year.astype(str)

In [14]:
# to csv
data_path = config.c_health_data / 'good_health_2004_2018.csv'
df.to_csv(data_path, index=False)

# smoking_1989_2018

In [15]:
df = pd.read_csv(config.r_health_data / 'smoking_1989_2018.csv')
df

,Sex,Age,Smoking habits,1989,1990,1991,1992,1993,1994,1995,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Total,18-29 years,Total,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,Total,18-29 years,Have never smoked,48.6,50.5,53.1,54.1,58.9,52.3,54.6,...,58.8,62.2,65.7,63.8,64.0,66.7,69.7,70.3,72.7,72.0
2,Total,18-29 years,Stopped smoking,14.5,13.9,12.1,12.3,12.1,13.9,12.3,...,19.4,18.2,19.0,14.0,16.8,18.8,20.0,17.0,16.3,15.2
3,Total,18-29 years,Smoke less than daily,3.8,4.4,3.6,4.9,3.0,4.8,7.3,...,4.9,6.3,6.1,4.8,8.8,4.0,3.6,5.3,3.8,6.7
4,Total,18-29 years,Smoke daily,33.1,31.2,31.2,28.8,26.0,29.0,25.8,...,16.9,13.4,9.2,17.3,10.4,10.6,6.8,7.4,7.2,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Females,18-89 years,Total,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
131,Females,18-89 years,Have never smoked,39.0,43.9,44.0,42.4,45.2,44.0,43.1,...,47.7,48.5,47.3,50.4,46.1,47.6,49.8,48.6,50.4,54.3
132,Females,18-89 years,Stopped smoking,23.8,22.3,23.1,23.6,24.3,25.6,23.9,...,33.6,33.1,33.8,32.9,36.1,35.3,36.2,36.7,36.8,33.2
133,Females,18-89 years,Smoke less than daily,3.5,3.2,2.8,3.4,2.9,3.6,5.6,...,3.0,4.1,4.3,3.9,5.3,4.1,3.1,3.9,3.0,3.3
134,Females,18-89 years,Smoke daily,33.7,30.5,30.0,30.6,27.7,26.8,27.5,...,15.7,14.3,14.6,12.8,12.5,13.0,10.9,10.9,9.7,9.1

In [16]:
# format age column by removing 'years'
df.Age = df.Age.apply(lambda x: x.split()[0])
df

,Sex,Age,Smoking habits,1989,1990,1991,1992,1993,1994,1995,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Total,18-29,Total,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,Total,18-29,Have never smoked,48.6,50.5,53.1,54.1,58.9,52.3,54.6,...,58.8,62.2,65.7,63.8,64.0,66.7,69.7,70.3,72.7,72.0
2,Total,18-29,Stopped smoking,14.5,13.9,12.1,12.3,12.1,13.9,12.3,...,19.4,18.2,19.0,14.0,16.8,18.8,20.0,17.0,16.3,15.2
3,Total,18-29,Smoke less than daily,3.8,4.4,3.6,4.9,3.0,4.8,7.3,...,4.9,6.3,6.1,4.8,8.8,4.0,3.6,5.3,3.8,6.7
4,Total,18-29,Smoke daily,33.1,31.2,31.2,28.8,26.0,29.0,25.8,...,16.9,13.4,9.2,17.3,10.4,10.6,6.8,7.4,7.2,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Females,18-89,Total,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
131,Females,18-89,Have never smoked,39.0,43.9,44.0,42.4,45.2,44.0,43.1,...,47.7,48.5,47.3,50.4,46.1,47.6,49.8,48.6,50.4,54.3
132,Females,18-89,Stopped smoking,23.8,22.3,23.1,23.6,24.3,25.6,23.9,...,33.6,33.1,33.8,32.9,36.1,35.3,36.2,36.7,36.8,33.2
133,Females,18-89,Smoke less than daily,3.5,3.2,2.8,3.4,2.9,3.6,5.6,...,3.0,4.1,4.3,3.9,5.3,4.1,3.1,3.9,3.0,3.3
134,Females,18-89,Smoke daily,33.7,30.5,30.0,30.6,27.7,26.8,27.5,...,15.7,14.3,14.6,12.8,12.5,13.0,10.9,10.9,9.7,9.1

In [17]:
# remove rows where smoking habits == 'Total' because it is redundant
df = df[df['Smoking habits'] != 'Total']
df

,Sex,Age,Smoking habits,1989,1990,1991,1992,1993,1994,1995,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Total,18-29,Have never smoked,48.6,50.5,53.1,54.1,58.9,52.3,54.6,...,58.8,62.2,65.7,63.8,64.0,66.7,69.7,70.3,72.7,72.0
2,Total,18-29,Stopped smoking,14.5,13.9,12.1,12.3,12.1,13.9,12.3,...,19.4,18.2,19.0,14.0,16.8,18.8,20.0,17.0,16.3,15.2
3,Total,18-29,Smoke less than daily,3.8,4.4,3.6,4.9,3.0,4.8,7.3,...,4.9,6.3,6.1,4.8,8.8,4.0,3.6,5.3,3.8,6.7
4,Total,18-29,Smoke daily,33.1,31.2,31.2,28.8,26.0,29.0,25.8,...,16.9,13.4,9.2,17.3,10.4,10.6,6.8,7.4,7.2,6.0
6,Total,30-39,Have never smoked,27.2,33.4,31.8,31.3,37.0,35.1,36.7,...,59.1,59.4,55.6,57.5,54.8,51.9,54.4,54.9,59.1,59.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Females,18-79,Smoke daily,33.8,30.6,30.9,31.5,28.4,27.1,27.8,...,16.2,14.5,14.7,12.8,12.8,13.1,11.1,10.9,9.8,9.3
131,Females,18-89,Have never smoked,39.0,43.9,44.0,42.4,45.2,44.0,43.1,...,47.7,48.5,47.3,50.4,46.1,47.6,49.8,48.6,50.4,54.3
132,Females,18-89,Stopped smoking,23.8,22.3,23.1,23.6,24.3,25.6,23.9,...,33.6,33.1,33.8,32.9,36.1,35.3,36.2,36.7,36.8,33.2
133,Females,18-89,Smoke less than daily,3.5,3.2,2.8,3.4,2.9,3.6,5.6,...,3.0,4.1,4.3,3.9,5.3,4.1,3.1,3.9,3.0,3.3
134,Females,18-89,Smoke daily,33.7,30.5,30.0,30.6,27.7,26.8,27.5,...,15.7,14.3,14.6,12.8,12.5,13.0,10.9,10.9,9.7,9.1

In [19]:
df = pd.melt(df, id_vars=['Sex', 'Age', 'Smoking habits'], var_name='Year', value_name='percent')
df

          Sex    Age         Smoking habits  Year  percent
0       Total  18-29      Have never smoked  1989     48.6
1       Total  18-29        Stopped smoking  1989     14.5
2       Total  18-29  Smoke less than daily  1989      3.8
3       Total  18-29            Smoke daily  1989     33.1
4       Total  30-39      Have never smoked  1989     27.2
...       ...    ...                    ...   ...      ...
3235  Females  18-79            Smoke daily  2018      9.3
3236  Females  18-89      Have never smoked  2018     54.3
3237  Females  18-89        Stopped smoking  2018     33.2
3238  Females  18-89  Smoke less than daily  2018      3.3
3239  Females  18-89            Smoke daily  2018      9.1

[3240 rows x 5 columns]

In [20]:
# format percent col
df.percent = df.percent.apply(lambda x: round(x / 100, ndigits=3))
df

          Sex    Age         Smoking habits  Year  percent
0       Total  18-29      Have never smoked  1989    0.486
1       Total  18-29        Stopped smoking  1989    0.145
2       Total  18-29  Smoke less than daily  1989    0.038
3       Total  18-29            Smoke daily  1989    0.331
4       Total  30-39      Have never smoked  1989    0.272
...       ...    ...                    ...   ...      ...
3235  Females  18-79            Smoke daily  2018    0.093
3236  Females  18-89      Have never smoked  2018    0.543
3237  Females  18-89        Stopped smoking  2018    0.332
3238  Females  18-89  Smoke less than daily  2018    0.033
3239  Females  18-89            Smoke daily  2018    0.091

[3240 rows x 5 columns]

In [22]:
# to csv
data_path = config.c_health_data / 'smoking_1989_2018.csv'
df.to_csv(data_path, index=False)

# unmet_health_need_2007_2018

In [23]:
df = pd.read_csv(config.r_health_data / 'unmet_health_need_2007_2018.csv')
df

,Year,Reason,Health services,Sex,Income quintiles,Proportion of individuals (%),Proportion lower bounds (%),Proportion upper bounds (%)
0,2007,Total,Dentist,Total,Total,7.4,6.5,8.4
1,2007,Total,Dentist,Total,Bottom quintile 1-20%,11.3,8.9,14.3
2,2007,Total,Dentist,Total,Second quintile 21-40%,7.6,5.7,10.2
3,2007,Total,Dentist,Total,Third quintile 41-60%,5.5,3.9,7.8
4,2007,Total,Dentist,Total,Fourth quintile 61-80%,7.2,5.3,9.6
...,...,...,...,...,...,...,...,...
1291,2018,Other reasons,Doctor or medical specialist,Males,Bottom quintile 1-20%,7.3,4.6,11.4
1292,2018,Other reasons,Doctor or medical specialist,Males,Second quintile 21-40%,4.9,2.8,8.3
1293,2018,Other reasons,Doctor or medical specialist,Males,Third quintile 41-60%,4.4,2.5,7.5
1294,2018,Other reasons,Doctor or medical specialist,Males,Fourth quintile 61-80%,4.6,2.7,7.9
1295,2018,Other reasons,Doctor or medical specialist,Males,Top quintile 81-100%,2.3,1.1,4.9

In [26]:
df = pd.melt(df, id_vars=['Year', 'Reason', 'Health services', 'Sex', 'Income quintiles'], var_name='unit', value_name='percent')
df

,Year,Reason,Health services,Sex,Income quintiles,unit,percent
0,2007,Total,Dentist,Total,Total,Proportion of individuals (%),7.4
1,2007,Total,Dentist,Total,Bottom quintile 1-20%,Proportion of individuals (%),11.3
2,2007,Total,Dentist,Total,Second quintile 21-40%,Proportion of individuals (%),7.6
3,2007,Total,Dentist,Total,Third quintile 41-60%,Proportion of individuals (%),5.5
4,2007,Total,Dentist,Total,Fourth quintile 61-80%,Proportion of individuals (%),7.2
...,...,...,...,...,...,...,...
3883,2018,Other reasons,Doctor or medical specialist,Males,Bottom quintile 1-20%,Proportion upper bounds (%),11.4
3884,2018,Other reasons,Doctor or medical specialist,Males,Second quintile 21-40%,Proportion upper bounds (%),8.3
3885,2018,Other reasons,Doctor or medical specialist,Males,Third quintile 41-60%,Proportion upper bounds (%),7.5
3886,2018,Other reasons,Doctor or medical specialist,Males,Fourth quintile 61-80%,Proportion upper bounds (%),7.9
3887,2018,Other reasons,Doctor or medical specialist,Males,Top quintile 81-100%,Proportion upper bounds (%),4.9

In [28]:
# to csv
data_path = config.c_health_data / 'unmet_health_need_2007_2018.csv'
df.to_csv(data_path, index=False)