In [1]:
import mypathsetup
import config
import pandas as pd

In [2]:
df = pd.read_csv(config.r_women_lead_data / 'directors_govt_agencies_2009_2019.csv')
df

    Year  Total  Men  Women
0   2009    207  147     60
1   2010    193  133     60
2   2011    182  126     56
3   2012    179  124     55
4   2013    179  120     59
5   2014    169  117     52
6   2015    160  102     58
7   2016    156   98     58
8   2017    154   94     60
9   2018    155   94     61
10  2019    156   91     65

In [3]:
df.Year = df.Year.astype(str)

In [4]:
df = pd.melt(df, id_vars='Year', var_name='Sex', value_name='n_directors')
df

    Year    Sex  n_directors
0   2009  Total          207
1   2010  Total          193
2   2011  Total          182
3   2012  Total          179
4   2013  Total          179
5   2014  Total          169
6   2015  Total          160
7   2016  Total          156
8   2017  Total          154
9   2018  Total          155
10  2019  Total          156
11  2009    Men          147
12  2010    Men          133
13  2011    Men          126
14  2012    Men          124
15  2013    Men          120
16  2014    Men          117
17  2015    Men          102
18  2016    Men           98
19  2017    Men           94
20  2018    Men           94
21  2019    Men           91
22  2009  Women           60
23  2010  Women           60
24  2011  Women           56
25  2012  Women           55
26  2013  Women           59
27  2014  Women           52
28  2015  Women           58
29  2016  Women           58
30  2017  Women           60
31  2018  Women           61
32  2019  Women           65

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         33 non-null     object
 1   Sex          33 non-null     object
 2   n_directors  33 non-null     int64
dtypes: int64(1), object(2)
memory usage: 920.0+ bytes

In [6]:
# to csv
data_path = config.c_women_lead_data / 'directors_govt_agencies_2009_2019.csv'
df.to_csv(data_path, index=False)